.footer
{
    &__title
    {
        color:white;
        background-color: #286fb4;
        font-size:0.8rem;
        position: absolute;
        text-align: center;
         bottom: 0;
          width: 100%;
         height: 2.5rem;
    }
}